body {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "header header"
        "main main"
        "footer footer";
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    justify-items: center;
}

.home {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin: 10% 10%
}

aside {
    background-color: #182825;
    grid-area: aside;
    justify-self: end;
    width: 130px;
    height: 95%;
    padding: 20px;
}

aside a {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-size: 4em;
    text-decoration: none;
    color: white;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 50px;
}

.portfolio div:nth-child(1) {
    grid-row: 1 / 2;
}

.portfolio div:nth-child(2) {
    grid-row: 1 / 2;
}

.portfolio div:nth-child(3) {
    grid-row: 2 / 3;
}

.portfolio div:nth-child(4) {
    grid-row: 2 / 3;
}

.portfolio div {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 10px;
    padding: 10px;

}





